<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/style/admin.css">
</head>
<body>
<%- include('header') %>
<%- include('sidebar') %>
<div class="warp-con">
    <h3 class="page-title">分类列表<a href="/admin/genre/add" class="addarticle">添加分类</a></h3>
    <div class="page-panel">
        <div class="panel-heading">
            <h3 class="panel-title">分类</h3>
        </div>
        <div class="page-panel-con" id="genreslist">
            <% if ( genres.length >= 1 && genres) { %>
            <table class="page-table">
                <thead>
                <tr>
                    <th>ICON</th>
                    <th>名称</th>
                    <th>显示路径</th>
                    <th>是否导航</th>
                    <th>排序<span style="font-size: 12px">(大的在前)</span></th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <% genres.forEach(function (genre) { %>
                <tr>
                    <td><img src="<%= genre.icon %>" class="genreimg"> </td>
                    <td><%= genre.title %> - （<span class="fontred"><%= genre.count %></span> 篇文章）</td>
                    <td><%= genre.genreName %></td>
                    <td><%= genre.isNav %></td>
                    <td><%= genre.sort %></td>
                    <td><a class="art-operate art-modify" href="/admin/genre/edit/<%= genre._id %>">修改</a><span class="art-operate genre-delete" data-count="<%= genre.count %>" data-id="<%= genre._id %>">删除</span></td>
                </tr>
                <% }) %>
                </tbody>
            </table>
            <%  }else{ %>
                <div class="nothasinfo">暂无分类</div>
            <% } %>

        </div>
    </div>
</div>
<%- include('footer') %>
<script type="text/javascript">
    $(function () {
        $(document).on('click', '.genre-delete', function () {
            let $this = $(this)
            if(parseInt($this.attr('data-count'))>0){
                alert('该分类下有文章，请先处理好相关文章后再删除')
                return
            }
            $.ajax({cache: false, url: '/admin/genre/delete/'+$this.attr('data-id'), type: 'post', dataType: 'json'}).then(function (result) {
                $.closeLoading();
                alert(result.message);
                $this.parents('tr').remove();
            }).catch(function (err) {
                $.closeLoading();
                alert("服务器错误，请稍后重试")
            })
        });
    })
</script>
</body>
</html>