<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript" src="/js/base.js"></script>
    <link rel="stylesheet" href="/style/base-reset.css">
    <link rel="stylesheet" href="/style/main.css">
</head>
<body>
<%- include('includes/header') %>
<div class="body-warp cl">
    <div class="right-warp">
        <%- include('includes/right') %>
    </div>
    <div class="left-warp">
        <div class="genrelist left-panel">
            <ul class="cl">
                <li><a href="/article/?genre=all" class="<%= genreString === 'all' ? 'active' : '' %>">全部</a></li>
                <% genres.forEach(function (item) { %>
                <li><a href="/article/?genre=<%= item.genreName %>" class="<%= item.genreName === genreString ? 'active' : '' %>"><%= item.title %></a></li>
                <% }) %>
            </ul>
        </div>
        <div class="left-panel">
            <% if (typeof(articles) !== 'undefined' && articles.length > 0) { %>
            <ul class="list-group">
                <% articles.forEach(function (article) { %>
                <li class="list-group-item cl">
                    <% if ( article.icon !== '' && typeof article.icon !== "undefined") { %>
                    <div class="articleimg fl"><img src="<%= article.icon %>"></div>
                    <% } %>
                    <div class=articleitem>
                        <h3>
                            <% if ( genreString === 'all') { %>
                            <span class="genreicon"><a href="/article/?genre=<%= article.genre.genreName %>"><img src="<%= article.genre.icon %>"></a></span>
                            <% } %>
                            <a href="/article/<%= article._id %>"><%= article.title %></a>
                        </h3>
                        <div class="item-brief"><%= article.brief %></div>
                        <div class="item-bottom">
                            <a class="item-readmore" href="/article/<%= article._id %>">Read more</a>
                            <span class="visitspan"><%= article.visit_count %></span>
                            <span class="timespan"><%= moment(article.create_at, 'YYYYMMDD').fromNow() %></span>
                        </div>
                    </div>
                </li>
                <% }) %>
            </ul>
            <% } else { %>
            <div class='noinfo'>
                <p>无消息</p>
            </div>
            <% } %>
            <div class="panel-footer">
                <%- include('includes/pages',{pages:pages}) %>
            </div>
        </div>
    </div>
</div>
<%- include('includes/footer') %>
</body>
</html>