<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/editor-md/css/editormd.css">
</head>
<body>
<%- include('header') %>
<%- include('sidebar') %>
<div class="warp-con">
    <h3 class="page-title">添加文章</h3>
    <div class="page-panel">
        <div class="page-panel-con">
            <div class="a-item cl">
                <div class="pfl a-item-sign">文章标题</div>
                <div class="pfl a-item-con">
                    <input type="text" placeholder="文章标题" id="article-title" class="a-item-input" value="">
                </div>
                <div class="pfl a-item-info" data-def=""></div>
            </div>
            <div class="a-item cl">
                <div class="pfl a-item-sign">文章类型</div>
                <div class="pfl a-item-rad">
                    <% genres.forEach(function (item) { %>
                    <label class="fancy-radio">
                        <input name="genre" value="<%= item._id %>" type="radio"  >
                        <span><i></i><%= item.title %></span>
                    </label>
                    <% }) %>
                </div>
                <div class="pfl a-item-info" data-def=""></div>
            </div>
            <div class="a-item cl">
                <div class="pfl a-item-sign">文章简述</div>
                <div class="pfl a-item-con">
                    <textarea id="article-brief" class="a-item-input a-item-area" placeholder="文章简述" placeholder="textarea" rows="4"
                              onresize="false"></textarea>
                </div>
                <div class="pfl a-item-info" data-def=""></div>
            </div>
            <div class="a-item cl">
                <div class="pfl a-item-sign">ICON</div>
                <div class="pfl a-item-con">
                    <input type="text" placeholder="文章题图" id="uploadfileurl" class="a-item-input" value="">
                </div>
            </div>
            <div class="a-item cl">
                <div class="pfl a-item-sign">　</div>
                <div class="pfl a-item-con">
                    <div class="uploadfilewarp">
                        <input class="defaultfilebtn" type="file" id="uploadfilebtn" name="editormd-image-file" accept="image/*">
                        <input class="uploadbtn" type="button" value="本地上传">
                    </div>
                </div>
            </div>

            <div class="a-item cl">
                <div class="pfl a-item-sign">文章详情</div>
            </div>

            <div id="test-editormd">
                <textarea id="article-content" style="display:none;"></textarea>
            </div>
            <div class="a-item-submit">
                <button type="button" id="submitArticle" class="ui-button">提交</button>
            </div>
        </div>
    </div>
</div>
<%- include('footer') %>
<script src="/editor-md/js/editormd.min.js"></script>
<script type="text/javascript">
    let testEditor;
    $(function () {
        testEditor = editormd("test-editormd", {
            width: "90%",
            height: 640,
            syncScrolling: "single",
            path: "/editor-md/lib/",
            saveHTMLToTextarea : true,


            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/admin/upload"
        });

        $("#submitArticle").click(function () {
            let articleTitle = $("#article-title").val();
            let articleBrief = $("#article-brief").val();
            let articleIcon = $("#uploadfileurl").val()
            let articleGenre = $('input:radio[name="genre"]:checked').val()
            let articleContent = $("#article-content").val()
            if([articleTitle,articleGenre,articleContent].some(function (e) {
                return e === '' || e === undefined
            })){
                alert('文章标题、分类以及详情不能为空')
                return
            }
            $.showLoading();

            let postData = {
                title:articleTitle,
                brief:articleBrief,
                icon: articleIcon,
                genre:articleGenre,
                content:articleContent
            }
            $.ajax({cache: false, url: '/admin/article/add', type: 'post', data: postData, dataType: 'json'}).then(function (result) {
                $.closeLoading();
                if(result.state === 0){
                    alert(result.message);
                }
                if(result.state === 1){
                    alert(result.message);
                    window.location.href = '/article/' + result.data + '';
                }
            }).catch(function (err) {
                $.closeLoading();
                alert("服务器错误，请稍后重试")
            })


        })
    });
</script>
</body>
</html>